@import "nullstyle.scss";

body {
    background-color: #b0b0b0;
}

.wrapper {
    display: flex;
    align-items: center;
    text-shadow: 0 0 2px #555;
    width: 100vw;
    height: 100vh;
}
.content {
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.count {
    &__one {
        font-size: 20rem;
        color: #0000b3;
}
    &__two {
        font-size: 15rem;
        color: #0000df;
    }
}
